<div class="flex w-screen">
  <div class="w-1/2 bg-[#333] p-5 ">
    <h1 class="text-3xl text-white pb-10">Tramontana Dash <%= link_to "EDIT", apps_path, class: 'text-sm' %></h1>

    <% @apps.each_with_index do |app,i| %>

      <div class="w-full flex pb-5">
        <%= link_to "#{i}. #{app.name}", edit_access_path(Current.user.access_for(app)) %>
        
        <a href="<%= app.url %>" id="<%= i %>" class="w-1/3">
          <div class="w-full bg-black p-3 m-1 rounded-sm text-white">
            <%= i %>. <%= app.name %>
          </div>
        </a>

        <div class="w-2/3 pl-5 pt-3 m-1 text-white">
          <%= app.description %>
        </div>
      </div>
      
    <% end %>

    <div class="w-full flex">
      <%= link_to "X. Log Out",
                  session_path,
                  {
                    id: 'x',
                    class: "w-1/3 bg-black p-3 m-1 rounded-sm text-white",
                    "data-turbo-method": :delete
                  } %>
    
      <div class="w-2/3 pl-4 pt-3 m-1 text-white">Logout of Dash</div>
    </div>
    
  </div>
  <div class="w-1/2">
    <div class="float-right p-5">
      <img src="https://tramontana.com.au/letterhead_logo_big.png" alt="logo" width="130" />

    </div>

    <div class="pt-100 w-full text-center">
      <form action="https://www.google.com/search" method="get">
        <input class=" w-1/2 bg-white p-2" type="text" name="q" placeholder="Google Search">
        <button class="bg-green-500 p-2" type="submit">Search</button>
      </form>
    </div>
    
    <div class="text-5xl pt-30 w-full text-center" id="clock"></div>
  </div>
</div>

<script>
 // Update Clock
 function updateClock() {
   const now = new Date();
   const timeString = now.toLocaleTimeString();
   const clock = document.getElementById('clock');
   if (clock != null) {
     clock.innerText = timeString;  
   }
   
 }
 setInterval(updateClock, 1000);
 updateClock();

 // Hotkey function for links (1, 2, 3)
 document.addEventListener('keydown', function(event) {
   document.getElementById(event.key).click();
 });
</script>

