<div id="<%= dom_id access %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Menu position:</strong>
    <%= access.menu_position %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Login:</strong>
    <%= access.login %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Password:</strong>
    <%= access.password %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Auto login:</strong>
    <%= access.auto_login %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= access.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">App:</strong>
    <%= access.app_id %>
  </div>
</div>
