<%= form_with(model: access, html: {class: "contents"}) do |form| %>
  <% if access.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(access.errors.count, "error") %> prohibited this access from being saved:</h2>

      <ul class="list-disc ml-6">
        <% access.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="my-5">
    <%= form.label :login %>
    <%= form.text_field :login,
        { class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": access.errors[:login].none?, "border-red-400 focus:outline-red-600": access.errors[:login].any?}], autofocus: true, autocomplete: "off"} %>
  </div>

  <div class="my-5">
    <%= form.label :password %>
    <%= form.password_field :password, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": access.errors[:password].none?, "border-red-400 focus:outline-red-600": access.errors[:password].any?}], autocomplete: "off" %>Leave blank if unchanged.
  </div>
  
  <div class="my-5">
    <%= form.label :auto_login %>
    <%= form.select :auto_login,
         [
           ['None'],
           ['Basic Auth'],
           ['LodgeIT'],
           ['Quickbooks'],
         ],
     { include_blank: true },
     class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": access.errors[:auto_login].none?, "border-red-400 focus:outline-red-600": access.errors[:auto_login].any?}]
    %>
  </div>

  <div class="my-5">
    <%= form.label :menu_position %>
    <%= form.number_field :menu_position, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": access.errors[:menu_position].none?, "border-red-400 focus:outline-red-600": access.errors[:menu_position].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
