<p style="color: red"><%= alert %></p>

<h1 class="font-bold text-4xl">Change your password</h1>

<%= form_with(url: password_path, method: :patch) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :password_challenge, style: "display: block" %>
    <%= form.password_field :password_challenge, { class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:name].none?, "border-red-400 focus:outline-red-600": @user.errors[:name].any?}], required: true, autofocus: true, autocomplete: "current-password"} %>
  </div>

  <div>
    <%= form.label :password, "New password", style: "display: block" %>
    <%= form.password_field :password, { class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:name].none?, "border-red-400 focus:outline-red-600": @user.errors[:name].any?}], required: true, autocomplete: "new-password"} %>
    <div>12 characters minimum.</div>
  </div>

  <div>
    <%= form.label :password_confirmation, "Confirm new password", style: "display: block" %>
    <%= form.password_field :password_confirmation, { class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:name].none?, "border-red-400 focus:outline-red-600": @user.errors[:name].any?}], required: true, autocomplete: "new-password"} %>
  </div>

  <div>
    <%= form.submit "Save changes", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
    
    <%= link_to "Back", :back, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  </div>
<% end %>

