<p style="color: red"><%= alert %></p>

<%= form_with(url: two_factor_authentication_challenge_totp_path) do |form| %>
  <div>
    <%= form.label :code do %>
      <h1>Next, open the 2FA authenticator app on your phone and type the six digit code below:</h1>
    <% end %>
    <%= form.text_field :code, { class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full border-gray-400 focus:outline-blue-600", autofocus: true, required: true, autocomplete: :off } %>
  </div>

  <div>
    <%= form.submit "Verify", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<div>
  <p><strong>Don't have your phone?</strong></p>
  <div><%= link_to "Use a recovery code to access your account.", new_two_factor_authentication_challenge_recovery_codes_path %></div>
</div>
