<div id="<%= dom_id app %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= app.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= app.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= app.url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Global login:</strong>
    <%= app.global_login %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Global password:</strong>
    <%= app.global_password %>
  </div>
</div>
